extends layout

block content

  .row
    .col-md-12.vcenter
      h2= title

  .row
    .col-md-12
      canvas.emscripten#canvas(width="800px" height="550px")


block scripts
  script(src='/static/unity/' + model + '/Module.js')
  script(src='/static/unity/' + model + '/UnityLoader.js')

  script(type='text/javascript' src='/static/javascripts/client.js')