extends layout

block content

  .row
    .col-lg-8
      h2= title

    .col-lg-4
      img.pull-right(src="/static/img/fullscreen.png"
                     onclick="gameInstance.setFullScreen(1);")
      // Note: When upgrading Unity, `SetFullscreen` is replaced with
      // `gameObject.setFullScreen(1);` (the unity developers got better...)

  .row
    .col-md-8
      canvas.emscripten#canvas(oncontextmenu="event.preventDefault()")


block scripts
  script(type='text/javascript' src='/static/javascripts/client.js')
  script(src='/static/unity/' + model + '/Release/UnityLoader.js')
  script(type='text/javascript').
    var gameInstance = UnityLoader.instantiate("gameContainer", "/static/!{model}/Release/brainsim-!{model}.json", {onProgress: UnityProgress});

