extends layout

block content

  .row
    .col-lg-8
      h2= title

    .col-lg-4
      img.pull-right(src="/static/img/fullscreen.png"
                     onclick="gameInstance.SetFullscreen(1);")
      // Note: When upgrading Unity, `SetFullscreen` is replaced with
      // `gameObject.setFullScreen(1);` (the unity developers got better...)

  .row
    .col-lg-12
      #gameContainer


block scripts
  script(type='text/javascript' src='/static/javascripts/unity_progress.js')
  script(src='/static/unity/' + model + '/Release/UnityLoader.js')
  script(type='text/javascript').
    var gameInstance = UnityLoader.instantiate("gameContainer", "/static/unity/!{model}/Release/brainsim-!{model}.json", {onProgress: UnityProgress});

