extends layout

block content

  .row
    h2= title

  .row
    .col-md-12
      h3.text-muted Select a model:
  .row
    .col-md-2
    .col-md-8
      button#btn-3d.btn.btn-lg.btn-block(type='button')  3D

      button#btn-2d.btn.btn-lg.btn-block(type='button')  2D

block scripts

  script(type='text/javascript' src='/static/javascripts/index.js')

